.banner {
  background-image: url("/landing/images/background.png");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  margin: 0;
}

.container {
  width: 900px;
  margin: auto;
}

.container h1 {
  color: white;
  margin: 0;
}

.container p {
  color: #979898;
  margin-bottom: 30px;
  font-size: 20px;
}
