.footer {
  background-color: #2C2B2B;
  padding: 70px;
  text-align: center;
}

.footer p{
  color: #6B6C6C;
}

.footer a {
  font-size: 30px;
  color: #1EDD88;
  margin-left: 7px;
}

.footer .fas{
  color: red;
}
